<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Dreams POS is a powerful Bootstrap based Inventory Management Admin Template designed for businesses, offering seamless invoicing, project tracking, and estimates.">
	<meta name="keywords" content="inventory management, admin dashboard, bootstrap template, invoicing, estimates, business management, responsive admin, POS system">
	<meta name="author" content="Dreams Technologies">
	<meta name="robots" content="index, follow">
	<title>DIOS</title>

	<script src="assets/js/theme-script.js"></script>	

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

	<!-- animation CSS -->
	<link rel="stylesheet" href="assets/css/animate.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets/css/feather.css">

	<!-- Quill CSS -->
    	<link rel="stylesheet" href="assets/plugins/quill/quill.snow.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

	<!-- Bootstrap Tagsinput CSS -->
	<link rel="stylesheet" href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="assets/css/dataTables.bootstrap5.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Color Picker Css -->
	<link rel="stylesheet" href="assets/plugins/@simonwep/pickr/themes/nano.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

	<div id="global-loader">
		<div class="whirly-loader"> </div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">
			<div class="main-header">

				<!-- Logo -->
				<div class="header-left active">
					<a href="index.html" class="logo logo-normal">
						<img src="assets/img/logo.svg" alt="Img">
					</a>
					<a href="index.html" class="logo logo-white">
						<img src="assets/img/logo-white.svg" alt="Img">
					</a>
					<a href="index.html" class="logo-small">
						<img src="assets/img/logo-small.png" alt="Img">
					</a>
				</div>
				<!-- /Logo -->

				<a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>

				<!-- Header Menu -->
				<ul class="nav user-menu">

					<!-- Search -->
					<li class="nav-item nav-searchinputs">
						<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
							</a>
							<form action="#" class="dropdown">
								<div class="searchinputs input-group dropdown-toggle" id="dropdownMenuClickable"
									data-bs-toggle="dropdown" data-bs-auto-close="outside">
									<input type="text" placeholder="Search">
									<div class="search-addon">
										<span><i class="ti ti-search"></i></span>
									</div>
									<span class="input-group-text">
										<kbd class="d-flex align-items-center"><img src="assets/img/icons/command.svg"
												alt="img" class="me-1"></kbd>
									</span>
								</div>
							</form>
						</div>
					</li>
					<!-- /Search -->

					<!-- Notifications -->
					<li class="nav-item dropdown nav-item-box">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i class="ti ti-bell"></i>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<h5 class="notification-title">Notifications</h5>
								<a href="javascript:void(0)" class="clear-noti">Mark all as read</a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="Img" src="assets/img/profiles/avatar-13.jpg">
												</span>
												<div class="flex-grow-1">
													<p class="noti-details"><span class="noti-title">James Kirwin</span>
														confirmed his order. Order No: #78901.Estimated delivery: 2 days
													</p>
													<p class="noti-time">4 mins ago</p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="Img" src="assets/img/profiles/avatar-03.jpg">
												</span>
												<div class="flex-grow-1">
													<p class="noti-details"><span class="noti-title">Leo Kelly</span>
														cancelled his order scheduled for 17 Jan 2025</p>
													<p class="noti-time">10 mins ago</p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html" class="recent-msg">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="Img" src="assets/img/profiles/avatar-17.jpg">
												</span>
												<div class="flex-grow-1">
													<p class="noti-details">Payment of $50 received for Order #67890
														from <span class="noti-title">Antonio Engle</span></p>
													<p class="noti-time">05 mins ago</p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html" class="recent-msg">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="Img" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="flex-grow-1">
													<p class="noti-details"><span class="noti-title">Andrea</span>
														confirmed his order. Order No: #73401.Estimated delivery: 3 days
													</p>
													<p class="noti-time">4 mins ago</p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer d-flex align-items-center gap-3">
								<a href="#" class="btn btn-secondary btn-md w-100">Cancel</a>
								<a href="activities.html" class="btn btn-primary btn-md w-100">View all</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->

					<li class="nav-item dropdown has-arrow main-drop profile-nav">
						<a href="javascript:void(0);" class="nav-link userset" data-bs-toggle="dropdown">
							<span class="user-info p-0">
								<span class="user-letter">
									<img src="assets/img/profiles/avator1.jpg" alt="Img" class="img-fluid">
								</span>
							</span>
						</a>
						<div class="dropdown-menu menu-drop-user">
							<div class="profileset d-flex align-items-center">
								<span class="user-img me-2">
									<img src="assets/img/profiles/avator1.jpg" alt="Img">
								</span>
								<div>
									<h6 class="fw-medium">Kiswandi</h6>
									<p>IT Supervisor</p>
								</div>
							</div>
							<a class="dropdown-item" href="javascript:void(0);"><i
									class="ti ti-user-circle me-2"></i>Account
								Information</a>
							<a class="dropdown-item" href="javascript:void(0);"><i
									class="ti ti-file-text me-2"></i>Change
								Password</a>
							<a class="dropdown-item" href="javascript:void(0);"><i
									class="ti ti-settings-2 me-2"></i>Login Activity</a>
							<a class="dropdown-item" href="javascript:void(0);"><i
									class="ti ti-settings-2 me-2"></i>History</a>
							<hr class="my-2">
							<a class="dropdown-item logout pb-0" href="javascript:void(0);"><i
									class="ti ti-logout me-2"></i>Logout</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->

				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="javascript:void(0);">Account Information</a>
						<a class="dropdown-item" href="javascript:void(0);">Change Password</a>
						<a class="dropdown-item" href="javascript:void(0);">Login Activity</a>
						<a class="dropdown-item" href="javascript:void(0);">History</a>
						<a class="dropdown-item" href="javascript:void(0);">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
			</div>
		</div>
		<!-- /Header -->

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<!-- Logo -->
			<div class="sidebar-logo">
				<a href="index.html" class="logo logo-normal">
					<img src="assets/img/logo.svg" alt="Img">
				</a>
				<a href="index.html" class="logo logo-white">
					<img src="assets/img/logo-white.svg" alt="Img">
				</a>
				<a href="index.html" class="logo-small">
					<img src="assets/img/logo-small.png" alt="Img">
				</a>
				<a id="toggle_btn" href="javascript:void(0);">
					<i data-feather="chevrons-left" class="feather-16"></i>
				</a>
			</div>
			<!-- /Logo -->

			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="submenu-open">
							<h6 class="submenu-hdr">Main</h6>
							<ul>
								<li><a href="javascript:void(0);"><i
											class="ti ti-layout-grid fs-16 me-2"></i><span>Dashboard</span></a></li>
							</ul>
						</li>
						<li class="submenu-open">
							<h6 class="submenu-hdr">Pengajuan</h6>
							<ul>
								<!-- <li class="submenu">
									<a href="javascript:void(0);"><i class="ti ti-user-cog fs-16 me-2"></i><span>Data
											ERP</span><span class="menu-arrow"></span></a>
									<ul>
										<li><a href="javascript:void(0);">Customer</a></li>
										<li><a href="javascript:void(0);">Supplier</a></li>
										<li><a href="javascript:void(0);">Product</a></li>
										<li><a href="javascript:void(0);">Expedisi</a></li>
										<li><a href="javascript:void(0);">Warehouse</a></li>
									</ul>
								</li> -->
								<li class="submenu">
									<a href="javascript:void(0);"><i
											class="ti ti-calendar fs-16 me-2"></i><span>IT</span><span
											class="menu-arrow"></span></a>
									<ul>
										<li><a href="sop.html">SOP IT</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="javascript:void(0);"><i class="ti ti-calendar fs-16 me-2"></i><span>General
											Affair</span><span class="menu-arrow"></span></a>
									<ul>
										<li><a href="javascript:void(0);">Peminjaman Kendaraan</a></li>
										<li><a href="booking-meeting-room copy.html">Booking Ruang Meeting</a></li>
										<li><a href="javascript:void(0);">Permintaan Barang</a></li>
										<li><a href="javascript:void(0);">Permintaan Perbaikan/Pemeliharaan</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="submenu-open">
							<ul>
								<li class="submenu">
									<a href="javascript:void(0);"><i class="ti ti-user-cog fs-16 me-2"></i><span>Document Control</span><span class="menu-arrow"></span></a>
									<ul>
										<li><a href="struktur-organisasi.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Struktur
											Organisasi</span></a></li>
								<li><a href="kebijakan.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Kebijakan</span></a>
								</li>
								<li><a href="jobdesk.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Jobdesk</span></a></li>
								<li><a href="sop.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>SOP</span></a></li>
								<li><a href="instruksi-kerja.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Instruksi
											Kerja</span></a></li>
								<li><a href="form.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Form</span></a></li>
								<li><a href="manual-mutu.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Manual Mutu</span></a>
								</li>
								<li><a href="panduan-aplikasi.html"><i
											class="ti ti-clipboard-text fs-16 me-2"></i><span>Panduan Aplikasi</span></a>
								</li>
									</ul>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->

		<div class="page-wrapper">
			<div class="content">
				<div class="page-header">
					<div class="add-item d-flex">
						<div class="page-title">
							<h4 class="fw-bold">Pengajuan SOP</h4>
							<h6>Membuat Pengajuan SOP Baru</h6>
						</div>
					</div>
					<ul class="table-top-head">
						<li>
							<a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"><i class="ti ti-refresh"></i></a>
						</li>
						<li>
							<a data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse" id="collapse-header"><i class="ti ti-chevron-up"></i></a>
						</li>
					</ul>
					<div class="page-btn mt-0">
						<a href="sop.html" class="btn btn-secondary"><i data-feather="arrow-left" class="me-2"></i>Back to SOP</a>
					</div>
				</div>
				<form action="add-sop.html" class="add-sop-form">
					<div class="add-work-order">
						<div class="accordions-items-seperate" id="accordionSpacingExample">
							<div class="accordion-item border mb-4">
								<h2 class="accordion-header" id="headingSpacingOne">
									<div class="accordion-button collapsed bg-white" data-bs-toggle="collapse" data-bs-target="#SpacingOne" aria-expanded="true" aria-controls="SpacingOne">
										<div class="d-flex align-items-center justify-content-between flex-fill">
										<h5 class="d-flex align-items-center"><i data-feather="info" class="text-primary me-2"></i><span>SOP Information</span></h5>
										</div>
									</div>
								</h2>
								<div id="SpacingOne" class="accordion-collapse collapse show" aria-labelledby="headingSpacingOne">
									<div class="accordion-body border-top">
										<div class="row">
											<div class="col-sm-4 col-6">
												<div class="mb-3">
													<label class="form-label">Judul<span class="text-danger ms-1">*</span></label>
													<input type="text" class="form-control">
												</div>
											</div>
											<div class="col-sm-4 col-6">
												<div class="mb-3">
													<label class="form-label">File Pendukung<span class="text-danger ms-1">*</span></label>
												  	<input type="file" class="form-control" aria-label="file example" required="">
												  	<div class="invalid-feedback">Example invalid form file feedback</div>
												</div>
											</div>
										</div>
										
										<!-- Editor -->
										<div class="col-lg-12">
											<div class="summer-description-box">
												<label class="form-label">Deskripsi</label>
												<div class="editor pages-editor"></div>
												<p class="fs-14 mt-1">Maksimal 60 Kata</p>
											</div>
										</div>
										<!-- /Editor -->
									</div>
								</div>
							</div>							
						</div>
					</div>
					<div class="col-lg-12">
						<div class="d-flex align-items-center justify-content-end mb-4">
							<button type="button" class="btn btn-secondary me-2">Cancel</button>
							<button type="submit" class="btn btn-primary">Ajukan SOP</button>
						</div>
					</div>
				</form>
			</div>
			<div class="footer d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
				<p class="mb-0 text-gray-9">2014 - 2025 &copy; DreamsPOS. All Right Reserved</p>
				<p>Designed &amp; Developed by <a href="javascript:void(0);" class="text-primary">Dreams</a></p>
			</div>
		</div>
	</div>
	<!-- /Main Wrapper -->

	
	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.1.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="assets/js/feather.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets/js/jquery.slimscroll.min.js"></script>

	<!-- Datatable JS -->
	<script src="assets/js/jquery.dataTables.min.js"></script>
	<script src="assets/js/dataTables.bootstrap5.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Select2 JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Quill JS -->
    <script src="assets/plugins/quill/quill.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="assets/js/moment.min.js"></script>
	<script src="assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Bootstrap Tagsinput JS -->
	<script src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

	<!-- Color Picker JS -->
	<script src="assets/plugins/@simonwep/pickr/pickr.es5.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/theme-colorpicker.js"></script>
	<script src="assets/js/script.js"></script>


</body>

</html>